* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.c-main {
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  transition: 0.2s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
