.c-navbar {
  height: 75px;
  background-color: black;
  font-family: "Montserrat";
  color: #fff;
  padding: 25px;
  display: flex;
  align-items: center;
  width: 100vw;
  position: relative;

  h1 {
    font-weight: 500;
    position: fixed;
    left: 20px;
    top: 20px;
  }

  &-hamburger {
    position: fixed;
    right: 35px;
    top: 35px;

    &-open {
      width: 30px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0);
      position: relative;
      transition: 0.2s ease;

      &::before,
      &::after {
        position: absolute;
        content: "";
        background-color: white;
        width: 30px;
        height: 2px;
        transition: 0.2s ease;
      }

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }

    &-closed {
      width: 30px;
      height: 2px;
      background-color: white;
      position: relative;
      transition: 0.2s ease;

      &::before,
      &::after {
        position: absolute;
        content: "";
        background-color: white;
        width: 30px;
        height: 2px;
        transition: 0.2s ease;
      }

      &::before {
        top: -10px;
      }

      &::after {
        top: 10px;
      }
    }

    &-visualising {
      background-color: $red;

      &::before,
      &::after {
        background-color: red;
      }
    }

    &-clicker {
      display: block;
      position: absolute;
      top: -17px;
      left: -7px;
      width: 45px;
      height: 35px;
      cursor: pointer;
    }
  }
}
