.c-sidenav {
  position: fixed;
  right: 0;
  top: 75px;
  height: 100vh;
  background-color: #fafafc;
  z-index: 9999;
  transition: 0.5s ease;
  overflow-x: hidden;
  /* border-left: 1px solid #ddd; */

  &-open {
    width: 280px;
  }

  &-closed {
    width: 0px;
  }

  div {
    width: 280px;
    padding: 20px;

    img {
      width: 75px;
      margin-left: 15px;
      margin-bottom: 15px;
    }

    ul {
      list-style-type: none;
      list-style-position: outside;
      margin-bottom: 30px;

      li {
        margin: 7px;

        span {
          display: block;
          padding: 7px;
        }
      }
    }
  }

  &-hover {
    transition: 0.2s ease;
    padding: 5px;
    border-radius: 7px;

    &:hover {
      cursor: pointer;
      background-color: rgb(236, 236, 241);
    }
  }

  &-active {
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(236, 236, 241);
  }
}
